@{
    ViewData["Title"] = "Dashboard";
}

<div class="row">
    <div class="col-md-10">
        <h1>Welcome To The Wedding Planner</h1>
    </div>
    <div class="col-md-2">
        <a href="/logout">Log Out</a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-stripped">
            <thead>
                <th>Wedding</th>
                <th>Date</th>
                <th>Guest</th>
                <th>Action</th>
            </thead>
            <tbody>
                @foreach(Wedding wed in @Model) {
                    @:<tr>
                        @:<td>
                            @wed.Wedder1 
                            @:&amp; 
                            @wed.Wedder2
                        @:</td><td>
                            @wed.Date
                        @:</td><td>
                            @wed.WeddingGuests.Count()
                        @:</td><td>
                            @var userId = @HttpContextAccessor.HttpContext.Session.GetInt32("User");
                            @if(wed.WeddingGuests.Any(wg=>wg.Creator.UserId == userId)) {
                                @:<a href="/delete/
                                @wed.WeddingId;
                                @:">Delete</a>
                            } 
                            else if(@wed.WeddingGuests.Any(wg.User.UserId == userId && wg.State == "RSVP")) {
                                @:<a href="/rsvp/
                                @wed.WeddingId;
                                @:">Un-RSVP</a>
                            }
                            else {
                                @:<a href="/rsvp/
                                @wed.WeddingId;
                                @:">RSVP</a>
                            }
                        @:</td>
                    @:</tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-10"></div>
    <div class="col-md-2">
        <a class="btn btn-default" href="/create">
            New Wedding
        </a>
    </div>
</div>